# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# .env files
.env

# Build directories
build/
dist/

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store

# Dependency directories
bower_components/
